* {
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(img2.jpg);
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-style: italic;
    text-shadow: 20px 30px 7px rgb(38, 37, 37);
    cursor: pointer;
}
#logo::selection{
    background-color: transparent;
}
#mainlan{
    display: block;
    width: 90%;
    max-width: 400px;
    height: auto;
    background-color: gray;
    border: solid 5px black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 7px black;
    box-sizing: border-box;
    margin-top: 0;
}
#py,
#js,
#sql,
#java,
#c,
#cpp,
#cs,
#css,
#html {
    margin: 30px auto 0;
    width: 90%;
    max-width: 350px;
    height: 70px;
    background-color: darkblue;
    border-radius: 25px;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
    color: bisque;
    display: block;
    box-sizing: border-box;
}
#py:hover,
#js:hover,
#sql:hover,
#java:hover,
#c:hover,
#cpp:hover,
#cs:hover,
#css:hover,
#html:hover {
    height: 100px;
    font-size: xx-large;
    margin-top: 50px;
    cursor: pointer;
}
.langs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

}
#navbar{
    width: 100px;
    height: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    text-indent: 20px;
    font-weight: bold;
    font-size: larger;
    color: blanchedalmond;
    text-shadow: 5px 5px 4px black;
    cursor: pointer;
}
ul::selection{
    background-color: transparent;
}
a{
    text-decoration: none;
}
a #sin{
    width: 200px;
    height: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 20px;
    background-image: linear-gradient(red,yellow);
    border-style: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a #sin:hover{
    background-image: linear-gradient(to top,red,blue);
}
